<<<<<<< HEAD
@charset "UTF-8";
body {
  background-color: #000;
  text-shadow: 0 0 10px #00f100, 0 0 30px #00c000, 0 0 40px #0c0, 0 0 40px #0c0;
  color: #004c1c;
}
#wrapper {
  position: absolute;
  margin-left: 60px;
  z-index: 9998;
}
a {
  position: absolute;
  z-index: 9999;
}
#canvas {
  margin: 0;
  padding: 0;
  background-image: url('./background.jpg');
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
=======
@charset "UTF-8";

body {
  -webkit-backface-visibility: hidden;
  font-size: 18px;
  overflow: hidden;
  background-color: #000;
  text-shadow: 0 0 10px #00f100, 0 0 30px #00c000, 0 0 40px #0c0, 0 0 40px #0c0;
  color: #004c1c;
  font-family: "Courier New";
}

#wrapper {
  position: absolute;
  margin-left: 60px;
  z-index: 9998;
}
a {
  position: absolute;
  z-index: 9999;
}
#canvas {
  margin: 0;
  padding: 0;
  //background-image: url('./background.jpg');
  //background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }

  80% {
    -moz-transform: translateY(-10px);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -o-transform: translateY(30px);
  }

  80% {
    -o-transform: translateY(-10px);
  }

  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes bounceOutUp {
  0% {
    -webkit-transform: translateY(0);
  }

  20% {
    opacity: 1;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
}

@-moz-keyframes bounceOutUp {
  0% {
    -moz-transform: translateY(0);
  }

  20% {
    opacity: 1;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
}

@-o-keyframes bounceOutUp {
  0% {
    -o-transform: translateY(0);
  }

  20% {
    opacity: 1;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
}

@keyframes bounceOutUp {
  0% {
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    transform: translateY(20px);
  }

  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}

.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  -moz-animation-name: bounceOutUp;
  -o-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}
>>>>>>> origin/master
